@keyframes Welcome {
  0% {
    opacity: .1; }
  100% {
    opacity: .9; } }

::-webkit-scrollbar {
  width: 10px; }

body {
  animation: Welcome 1s;
  margin: 0;
  font-family: 'Almarai', sans-serif; }

.signup-form {
  direction: rtl;
  background-color: #00970B;
  color: white; }

#header {
  color: white; }

header {
  width: 100%;
  height: 10vh;
  margin-top: 5vh;
  text-align: center;
  font-family: 'Noto Nastaliq Urdu', serif; }
  header h1 {
    display: block;
    color: #00970B;
    font-size: 4rem; }
  header img {
    position: absolute;
    right: 55%;
    width: 8vh;
    height: 8vh; }

label {
  margin-bottom: 1vh; }

#selectSex {
  width: 30%;
  margin-right: 2vh;
  margin-bottom: 2vh;
  display: inline-block; }

.signup-form {
  width: 52%;
  border: none;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 5vh; }

h4 {
  border-top: 1px solid white;
  padding: 10px; }

.s2 {
  bottom: -18%;
  left: -40%;
  position: absolute; }
  .s2 label {
    margin-right: 2vh;
    display: block; }

#end {
  border-top: 1px solid white;
  padding: 10px; }

article {
  width: 20%;
  height: auto;
  float: right;
  text-decoration: underline;
  color: #00970B;
  cursor: pointer;
  transition: all .1s;
  height: content; }
  article:hover {
    transform: scale(1.1); }

#footer {
  color: white;
  padding: 3rem 0;
  background-color: #020202;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#footer h5 {
  font-size: 1.875rem;
  margin: 1rem 0; }

#footer hr {
  width: 4%;
  border: 1px solid rgba(255, 255, 255, 0.38);
  border-top: none; }

#footer h6 {
  font-size: 1rem;
  margin: 0.5rem 0; }

#footer #Social-icons {
  padding: 0.75rem 0; }

#footer #Social-icons img {
  width: 2.25rem;
  padding: 0 0.4rem;
  transition: all .5s; }

#footer #Social-icons img:hover {
  transform: scale(1.5); }
